* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}


.bar ul li {
	color: white;
}

.nav-icons a {
	color: white;
}

.top-navbar {
	background-color: white;
	display: flex;
	justify-content: space-around;
	height: 90px;
	align-items: center;
}

.logo img {
	position: relative;
	left: 100px;
}

.icon {
	display: flex;
	gap: 15px;
	font-size: 15px;
}



nav {
	background-color: rgb(75, 75, 75);
	width: 100%;
	height: 70px;
	display: flex;
	color: white;
	justify-content: space-around;
	align-items: center;
}

ul {
	display: flex;
	list-style-type: none;
}

ul li {
	padding: 20px;
	font-size: 16px;
}

ul li a {
	text-decoration: none;
	color: white;
}
.bar {
	display: none;
	background: black;
	position: relative;
	width: 274px;
	max-width: 274px;
	overflow: hidden;
}


.bar > span {
	position: absolute;
	top: 10px;
	right: 10px;
}

.nav-icons {
	padding: 20px;
	font-size: 10px;
	display: flex;
	gap: 20px;
}

.dropdown {
	padding: 20px;
	background-color: rgb(0, 0, 0);
	font-size: 10px;
	text-align: center;
}

.mini-container {
	width: 100%;
	height: 80px;
	background-image: url('Rectangle\ 12.png');
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mini-container span a {
	text-decoration: none;
	color: black;
	padding: 20px;
}

.center-container {
	display: flex;
	gap: 60px;
	padding: 70px;
}

.center-button {
	margin-top: 20px;
	padding: 10px;
	background-color: black;
	color: white;
}

.center-text section {
	margin-top: 30px;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: justify;
}

.trend-container {
	height: 450px;
	background-color: #f2f2f2;
	display: flex;
	padding: 100px;
	gap: 30px;
	justify-content: space-around;
}

.trend-card {
	height: 300px;
	width: 215px;
	background-color: #d9d9d9;
	text-align: center;
}

.trend-card p {
	margin-top: 40px;
}

.center-text-container  {
	font-size: 10px;
	display: inline;
	height: auto;
}
.center-text-container section{
	text-align: justify;
}

.box {
	display:inline-block !important;
	text-align: center;
	position: relative;
	top: 30px;
}

.image-container {
	left: 200px;
	width: 659px;
	height: 323px;
	background-color: #f2f2f2;
	position: relative;
	top: -150px;
	display: flex;
	gap: 60px;
	padding: 70px;
	left: 390px;
}

.first-half-container {
	width: 225px;
	height: 200px;
	background-color: #f2d7ac;
	position: absolute;
	left: 600px;
	margin-top: 70px;
	text-align: center;
}

.second-half-container {
	width: 225px;
	height: 200px;
	text-align: center;
	background-color: #71523e;
	color: white;
	position: relative;
	left: 300px;
	top: 270px;
}

.bar > span {

	color: white;
	font-size: 30px;
}
.last-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

.btnFooter {
	padding: 10px;
	background-color: black;
	color: white;
}

footer {
	height: 343px;
	background-color: #272727;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

footer ul {
	display: inline;
	padding: 0;
}

footer ul li {
	padding: 10px;
	text-align: left;
}

footer .info {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 15px;
}

.info p {
	font-size: 10px;
}

.footer-copyright {
	position: absolute;
	left: 460px;
	margin-top: 300px;
}
@media (min-width:1201px) {
	.classic-collection{
		display: flex;
		justify-content: space-around;
	}
	.first-half-container{
		left: 356px;
	}
	.second-half-container{
		left: 490px;
		top: 60px;
	}
}


@media (max-width: 1201px) {
	.trend-card {
		height: 330px;
	}

	.image-container {
		left: 250px;
	}

	.classic-collection {
		text-align: center;
	}
}

@media (max-width: 993px) {
	.image-container {
		left: 70px;
	}
	.togglebar{
		display:none !important;
	}
	

	.trend-card {
		height: 280px;
	}

	.first-half-container {
		position: absolute;
		left: 480px;
	}

	nav ul {
		display: flex;
	}



	.trend-card p {
		font-size: 10px;
	}
}

@media (max-width: 769px) {
	.center-container {
		display: inline-block;
	}

	nav ul {
		display: none;
	}

	.trend-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: auto;
	}

	.first-half-container {
		left: 300px;
	}

	.second-half-container {
		left: 120px;
	}
	.bar {
		height: 100vh;
		color: rgb(16, 15, 15);
		width: 30%;
		z-index: 5;

		position: absolute;
		top: 0;
		right: 0;
	}
	
.bar > span {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 30px;
}
	.nav-icons{
	display: flex !important;
	gap: 10px;
}
.togglebar{
display: flex !important;
align-items: center;
}
}

@media (max-width: 576px) {
	.trend-container {
		padding: 20px;
	}
	.trend-card {
		width: 150px;
	}
 footer ul li{
	font-size: 9px;
 }
	.image-container {
		POSITION: RELATIVE;
		left: 2px;
		top: 10px;
		width: fit-content;
		height: auto;
		display: inline-block;
	}
	.classic-collection {
		display: none;
	}
	.image-section img {
		display: none;
	}
	.last-container {
		padding: 60px;
		display: inline-block;
	}
	.top-navbar p {
		display: inline-block;
		font-size: 7px;
	}
	.logo img {
		left: 20px;
	}
	.center-container img {
		width: 100%;
	}
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-logo img {
		height: 100px;
	}
	.footer-text {
		font-size: 9px;
	}
	.nav-icons{
		gap: 10px;
		margin: auto;
	}
	.togglebar{
		margin: auto;
	}
	.bar ul li{
		font-size: 7px;
	}
}
