* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.bar {
    position: relative;
display: none;
    width: 274px;
    max-width: 274px;
    overflow: hidden;
    background-color: #1F1E1E;
}

.bar ul li {
    color: white;
}

.nav-icons a {
    color: white;
}

.top-navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
}



.icon {
    display: flex;
    gap: 15px;
    font-size: 15px;
}


nav {

    background-color: rgb(75, 75, 75);
    width: 100%;
    height: 70px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 20px;
    font-size: 12px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav-icons {
    padding: 20px;
    font-size: 10px;
    display: flex;
    gap: 20px;
}

.dropdown {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
}

.mini-container {
    width: 100%;
    height: 80px;
    background-image: url('Rectangle 12.png');
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mini-container span a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px;
}

.shop-card {
    padding: 10px;
}

.card {
    width: 225px;
    height: 300px;
    background-color: #f2f2f2;
}

.card a {
    position: relative;
    top: -22px;
    left: 40px;
}

.card a button {
    background-color: #1F1E1E;
    color: white;
    padding: 10px;
}

.card-text {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 10px;
    right: 50px;
}

.card span {
    position: absolute;
    background-color: green;
    font-size: 10px;
    margin: 10px 0px 0px 10px;
    width: 36px;
    height: 13px;
    color: white;
    text-align: center;
}

.cart-whislist {
    position: absolute;
    margin: 20px 0px 0px 190px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.footer-heading {
    position: relative;
    left: 147px;
}

.btnFooter {
    padding: 10px;
    background-color: black;
    color: white;
}

footer {
    height: 343px;
    background-color: #272727;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer ul {
    display: inline;
    padding: 0;
}

footer ul li {
    padding: 10px;
    text-align: left;
}

footer .info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.info p {
    font-size: 10px;
}

.footer-copyright {
    position: absolute;
    left: 460px;
    margin-top: 300px;
}

/* Media Queries */

/* Large screens (max-width: 992px) */
@media (max-width: 992px) {
    .shop-container {
        padding: 50px;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }

    footer .info {
        padding: 5px;
    }
    .togglebar{
        display: none;
    }

}

/* Tablet screens (max-width: 768px) */
@media (max-width: 768px) {
    .top-navbar {
        justify-content: space-around;
    }

    .shop-container {
        padding: 50px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .nav-icons{
        font-size: 15px;
    }


    ul {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-text p {
        font-size: 10px;
    }

    .bar {

        height: 100vh;
        color: rgb(16, 15, 15);
        width: 30%;
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
    }

    .bar ul li {
        padding: 20px;
        color: white;
    }
    .togglebar{
        display: flex;
    }

}

/* Small tablet and large mobile screens (max-width: 512px) */
@media (max-width: 512px) {
    .top-navbar p {
        display: inline-block;
        font-size: 7px;
    }

    footer ul li {
        font-size: 7px;
    }

    .toogle-bar {
        margin: auto;
    }

    .top-navbar {
        justify-content: space-evenly;
    }

    .shop-container {
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .footer-text h2 {
        font-size: 12px;
    }

    .shop-card {
        padding: 32px;
    }
    .heading a{
        font-size: 10px;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-text p,
    .info p {
        font-size: 10px;
    }

    .footer-logo img {
        height: 85px;
    }

    .info {
        gap: 10px;


    }

    .nav-icons {
        padding: 11px;
        font-size: 10px;
        display: flex;
        gap: 10px;
        margin: auto;
    }

    .togglebar {
        margin: auto;
    }
    .bar ul {
        display: block;
    }

    .bar ul li {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 7px;
    }

    .bar>span {
        position: absolute;
        top: 9px;
        right: 21px;
        color: white;
        font-size: 25px;
    }
}