* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: rgb(255, 255, 255);
}
.bar {
	position: relative;
	display: block;
	width: 274px;
	max-width: 274px;
	overflow: hidden;
}

.bar > span {
	position: absolute;
	top: 10px;
	right: 10px;
}

.bar ul li {
	color: white;
}

.top-navbar {
	background-color: white;
	display: flex;
	justify-content: space-around;
	height: 90px;
	align-items: center;
}

.logo img {
	position: relative;
	left: 100px;
}

.icon {
	display: flex;
	gap: 15px;
	font-size: 15px;
}

.bar {
	display: none;
	background: black;
	position: relative;
	width: 274px;
	max-width: 274px;
	overflow: hidden;
}

nav {
	background-color: rgb(75, 75, 75);
	width: 100%;
	height: 70px;
	display: flex;
	color: white;
	justify-content: space-around;
}

ul {
	display: flex;
	list-style-type: none;
}

ul li {
	padding: 20px;
}

ul li a {
	text-decoration: none;
	color: white;
}

.nav-icons {
	padding: 20px;
	font-size: 20px;
	display: flex;
	gap: 20px;
}

.nav-icons a {
	color: white;
}

.dropdown {
	padding: 20px;
	background-color: rgb(0, 0, 0);
	font-size: 10px;
	text-align: center;
}

.swiper {
	width: 100%;
	height: 50%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-box {
	height: 280px;
	width: 100%;
	background-color: black;
	background-image: url("Images/Background.PNG");
}

.box {
	background-color: rgb(255, 255, 255);
	height: 350px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box img {
	height: 300px;
	width: 300px;
}

.hide {
	display: flex;
}

.column {
	flex-basis: 35%;
	/* Each column takes 30% width */
	text-align: center;
	padding: 10px;
	display: flex;
}

.heading {
	font-size: 10px;
	position: relative;
	/* top: 130px; */
	left: 60px;
	transform: translate(10%, 50%);
}

.heading2 {
	left: 195px;
	font-size: 8px;
	position: relative;
	/* transform: translate(50%, 50%); */
	top: 50px;
}

.heading h2 {
	font-weight: 400;
	font-size: 12px;
}

.heading a {
	font-weight: 800;
	color: black;
	display: inline;
	font-size: 14px;
}

.heading2 h2 {
	font-weight: 400;
	font-size: 12px;
}

.heading3 h2 {
	font-weight: 400;
	font-size: 12px;
}

.heading3 a {
	font-weight: 800;
	color: black;
	display: inline;
	font-size: 14px;
}

.heading3 {
	position: relative;
	top: 50px;
	left: 70px;
	font-size: 10px;
}

.collection {
	width: 100%;
	height: 415px;
	display: flex;
	justify-content: space-between;
}

.image-text {
	padding: 60px;
	position: absolute;
	left: 830px;
	display: inline;
	justify-content: center;
	text-align: center;
	font-size: 10px;
}

.rose-text {
	position: absolute;
	left: 170px;
	z-index: 1;
	font-size: 10px;
	text-align: center;
	padding: 150px;
}

.featured-products {
	width: 100%;
	height: 200px;
	background: url("Images/Background.PNG");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.shop-card {
	width: 180px;
	height: 240px;
	background-color: rgb(231, 231, 231);
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.shop-card section {
	position: relative;
	top: -70px;
	left: 2px;
	font-size: 10px;
	text-align: center;
}
.nav-icons {
	display: none;
}

.right-half {
	gap: 50px;
	display: flex;
	flex-wrap: wrap;
}

section h6 {
	font-size: 12px;
}

.shop-card span {
	z-index: 1;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: -60px;
}

section p {
	margin: 10px 0px;
}

.half-container {
	display: flex;
}

.first-part {
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: left; */
	position: relative;
	left: 88px;
}

.shop {
	background-color: #ffc123;
	padding: 20px;
	border: none;
	color: white;
	font-weight: bold;
}

.first-part img {
	margin-top: 28px;
}

.news-container {
	width: 100%;
	height: 500px;
	background-color: rgb(255, 255, 255);
}

.one-third {
	display: flex;
	justify-content: space-between;
}

.news-blog {
	background-color: #CA803DCC;
	display: flex;
	flex-direction: column;
}

.button-news {
	color: white;
	padding: 10px;
	border: none;
	background-color: #ffc123;
	font-weight: bold;
	left: 70px;
	position: relative;
	width: 50%;
	top: 30px;
}

.news-blog section {
	font-weight: 700;
	color: white;
	text-align: center;
	padding: 50px;
}

.news-button {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.news-button input {
	background: none;
	border: none;
	color: #444444;
}

.news-button button {
	border: none;
	border-bottom: 1px solid black;
	background: none;
	font-weight: bold;
}

.news-blog hr {
	color: black;
	position: relative;
	top: 4px;
	/* font-size: 20px; */
	color: black;
}

.trending-products {
	width: 100%;
	height: 590px;
	background-color: #fffcf6;
}

.trending-text {
	text-align: center;
	padding: 46px;
}

.trending-card {
	padding: 58px;
	display: flex;
	justify-content: space-around;
}

.background-container img {
	width: 100%;
	height: 152px;
	object-fit: cover;
}

.top-footer {
	width: 100%;
	height: 120px;
	background-color: #ae743d;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-heading {
	position: relative;
	left: 147px;
}

.btnFooter {
	padding: 10px;
	background-color: black;
	color: white;
}

footer {
	height: 343px;
	background-color: #272727;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

footer ul {
	display: inline;
	padding: 0;
}

footer ul li {
	padding: 10px;
	text-align: left;
}

footer .info {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 15px;
}

.info p {
	font-size: 10px;
}

.footer-copyright {
	position: absolute;
	left: 460px;
	margin-top: 300px;
}

@media (max-width: 993px) {
	.column {
		overflow: hidden;
	}
	ul {
		display: none;
	}
	.news-right-image {
		display: none;
	}
	.one-third {
		justify-content: space-evenly;
	}
	.collection {
		display: grid;
	}
	.image-text {
		position: absolute;
		left: revert;
	}
	.imge {
		display: none;
	}
	.right-half {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.togglebar {
		display: flex;

		align-items: center;
	}
	.left-half img {
		height: 260px;
	}

	.bar {
		display: none;
	}

	.logo img {
		position: relative;
		left: 0px;
	}

	.heading2 h2 {
		position: relative;
		right: 30px;
		font-size: 10px;
	}

	.heading a {
		font-size: 10px;
	}

	.heading3 a {
		font-size: 10px;
	}

	ul {
		font-size: 12px;
	}
}
@media (max-width: 769px) {
	.rose-petal img {
		left: 215px;
	}
	.rose-text {
		left: 20px;
	}
	.nav-icons {
		display: inline;
	}
	.left-half {
		left: -50px;
		position: relative;
	}
	.left-half img {
		height: 200px;
	}
	.footer-heading {
		display: none;
	}
	.bar {
		height: 100vh;
		color: rgb(16, 15, 15);
		width: 30%;
		z-index: 5;

		position: absolute;
		top: 0;
		right: 0;
	}
	.hide {
		display: none;
	}
	.bar ul {
		display: inline;
		list-style-type: none;
		color: white;
	}
	.bar ul li {
		padding: 20px;
		color: white;
	}

	.box {
		overflow: hidden;
	}

	.nav-icons {
		font-size: 12px;
		padding: 30px;
		color: white;
	}
	.collection {
		display: none;
	}
	.logo img {
		position: relative;
		left: 30px;
	}

	.top-navbar p {
		font-size: 8px;
	}

	.nav {
		justify-content: space-between;
	}

	ul {
		display: none;
	}

	.heading3 {
		transform: translate(-20px, 10px);
	}

	.heading {
		transform: translate(-30px, 140px);
	}

	.heading img {
		position: relative;
		left: -40px;
	}
	.trending-card {
		padding: 0px;
	}

	.top-navbar {
		background-color: white;
		display: flex;
		justify-content: space-around;
		height: 90px;
		align-items: center;
	}

	.box {
		overflow: hidden;
	}

	.nav-icons {
		font-size: 10px;
		padding: 30px;
		color: white;
	}
	.collection {
		display: none;
	}
	.logo img {
		position: relative;
		left: 30px;
	}

	.top-navbar p {
		font-size: 8px;
	}

	.nav {
		justify-content: space-between;
	}

	ul {
		display: none;
	}

	.heading3 {
		transform: translate(-20px, 10px);
	}

	.heading {
		transform: translate(-30px, 140px);
	}

	.heading img {
		position: relative;
		left: -40px;
	}
	.right-half {
		padding: 0px;
		gap: 10px;
	}
	.trending-card {
		padding: 0px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	.top-footer {
		margin-top: 210px;
	}
	.footer-logo img {
		height: 127px;
	}
}

@media (max-width: 577px) {
	ul {
		font-size: 7px;
	}

	ul li {
		padding: 11px;
	}
	.nav-icons {
		display: flex;
		gap: 10px;
		font-size: 10px;
	}
	.cards {
		flex-wrap: wrap;
	}

	.box {
		display: inline;
	}
	.heading2 img {
		position: relative;
		left: -50px;
	}
	.half-container {
		display: grid;
	}
	.top-footer {
		margin-top: 190px;
	}
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.trending-card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.collection {
		display: none;
	}
	.news-image img {
		height: 310px;
	}
	.left-half {
		display: flex;
	}
	.news-right-image img {
		display: none;
	}
	.bar {
		display: none;
	}
	.info {
		gap: 10px;
	}
	.tooglebar {
		font-size: 20px;
	}
	.bar > span {
		position: absolute;
		top: 10px;
		right: 30px;
	}
}
@media (max-width: 441px) {
	.first-part img {
		height: 10px;
	}

	.bar > span {
		position: absolute;
		top: 10px;
		right: 30px;
		color: white;
		font-size: 30px;
	}
	.news-image img {
		display: none;
	}
	.left-half {
		position: relative;
		left: 0px;
	}
	.left-half img {
		height: 100px;
	}
	.first-part {
		left: 10px;
	}
	.first-part h5 {
		font-size: 10px;
	}
	.info {
		gap: 10px;
	}
	.shop {
		font-size: 10px;
	}
	.tooglebar {
		display: flex;
		align-items: center;
	}

	.footer-logo img {
		height: 100px;
	}
	.footer-text h2 {
		font-size: 10px;
	}
	.footer-text p {
		font-size: 8px;
	}
	.right-half {
		padding: 46px;
		margin-top: 10px;
	}
	.shop-card {
		width: 130px;
		height: 180px;
	}
	.trending-card {
		gap: 20px;
		padding: 30px;
	}
	.footerPara {
		font-size: 10px;
	}
}
